/* mobile device */
@media screen and (max-width:576px) {
    .nav-bar{
        flex-direction: column;
    }
    .nav-links{
        flex-direction: column;
        align-items: center;
    }
    .nav-itme{
        margin-right: 0;
    }
    .banner{
        flex-direction: column;
    }
    .banner-content{
        text-align: center;
    }
    .up-coming-matech{
        flex-direction: column;
    }
    .up-coming-content{
        flex-direction:row;
        width: 100%;
    }
    .up-coming{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
/* laptop and tablet device */
@media screen and (min-width:576px) and (max-width:992px) {
    .up-coming{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
}
}