*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Poppins google fonts */
.poppins-fonts{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* shared styling starts */
/*banner session starts*/
.primary-btn{
    padding: 16px 25px;
    background-color: #DD0000;
    border-radius: 5px;
    border: transparent;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
}
/* buttons session ends */
.helvetics-fonts{
   font-family: 'Helvetica Neue', sans-serif;                            
}
.continer{
    max-width: 1414px;
    margin: 50px auto 100px auto;
}
.display-flex{
    display: flex;
}
.background{
    background-color: #161616;
}
/* dark-1 starts */
.dark-1{
    color: #161616;
}
/* dark-1 ends */
/* dark-2 starts */
.dark-2{
    color: #B9B9B9;
}
/* dark-2 ends */
/* dark-3 starts */
.dark-3{
    color: #FFFFFF;
}
/* dark-3 ends */
/* shared styling ends */
/* nav styling starts */
#margin{
    margin: 0 auto 50px auto;
}
.logo img{
    width: 120px;
}
.nav-bar{
    align-items: center;
    justify-content: space-between;
    background-color: #161616;
}
.nav-itme{
    list-style: none;
    margin-right: 40px;
    position: relative;
}
/* sub-menu */
.sub{
    position: absolute;
    top: 50px;
    background: #333;
    height: 100px;
    width: 150px;
    text-align: center;
    list-style: none;
    border-radius: 8px;
    visibility: hidden;
   transition: transform 0.3s ease-in;
    transition: 0.3s ease-in;
}
.sub a{
    text-decoration: none;
    color: #fff;
}
.nav-itme:hover .sub{
    visibility: visible;
}
/* sub-menu ends */
.nav-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
}
/* nav styling ends */
/* banner styling starts */
.banner{
    align-items: center;
    padding: 25px 50px;
    border-radius: 30px;
    gap: 80px;
    justify-content: space-between;
}
#top{
    margin: 150px auto;
}
.banner-content{
    max-width: 568px;
}
.banner-tittle{
    font-size: 4.5rem;
    margin-bottom: 25px;
}
#size{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.bannner-img{
    max-width: 621px;
}
.bannner-img img{
  width: 100%;
  height: 100%;
}
/* banner styling ends */
/* up-coming match styling starts */
.up-coming-matech{
    gap: 25px;
}
.up-coming-content{
flex: 1;
flex-direction: column;
gap: 40px;
padding: 15px;
height: 250px;
border-radius: 10px;
}
.up-coming-content .btn{
background-color: white;
border: transparent;
padding: 12px;
border-radius: 5px;
color: black;
cursor: pointer;
}
.first{
    background-color: #FFFFFF;
    cursor: pointer;
    border: transparent;
    border-radius: 5px;
    padding: 12px;
}
.upcoming-img{
    flex: 1;
}
.card{
    width: 312px;
    height: 362px;
    background-color: #fff;
    box-shadow: 0 0 3px;
    border-radius: 15px;
}
.up-coming{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.card img{
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.right *{
    margin-bottom: 15px;
}
.right{
    margin: 10px 20px 0 20px;
}
.right button{
    padding: 7px 15px;
    background-color: transparent;
   border-radius: 5px;
   color: #161616;
   font-size: 16px;
   font-weight: 700;
   cursor: pointer;
}
.sub-tittle{
    font-size: 18px;
}
.btn{
    gap: 25px;
}
.btn:nth-child(1){
    background-color: #B9B9B9;
}
/* up-coming match styling ends */